﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Real Time Error Logger</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div>
        <div class="topsection">
            <div class="innertube">
                <h1>Log Me - Real Time Error Logger</h1>
            </div>
        </div>

        @* Todo : add facebook like indicator <div class="contentwrapper">
            <div class="contentcolumn">
                <div class="noti_Container">
                    <div>Web Service Errors</div>
                    <div id="divWebService" class="noti_bubble">0</div>
                </div>
                <div class="noti_Container">
                    <div>Windows Service Errors</div>
                    <div id="divWindows" class="noti_bubble">0</div>
                </div>

                <div class="noti_Container">
                    <div>Web Errors</div>
                    <div id="divWebUI" class="noti_bubble">0</div>
                </div>
            </div>
        </div>*@
    </div>

    <div class="leftcolumn">
        <div class="innertube">
        </div>

    </div>
    @RenderSection("featured", required: false)
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Log Me</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
