﻿@model MeNotify.Models.ErrorModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

   
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    
    <script src="~/signalr/hubs"></script>
    <!--Add script to update the page and send messages.-->
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.messageHub;

            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function () {
                getAllMessages()

            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                alert("connection started");
                getAllMessages();
               
            }).fail(function (e) {
                alert(e);
            });
        });

        function getAllMessages() {
            var tbl = $('#messagesTable');
            $.ajax({
                url: '/home/getmessages',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                tbl.empty().append(result);
            }).error(function () {

            });
        }
    </script>
}
